body{
	font-family: Raleway;
}
@font-face{
	font-family: "Raleway";
	src: url("police/Raleway-ExtraBold.ttf");
}

#corps{
	margin-right: 5%;
	margin-left: 5%;
}

#complements{
	font-size: medium ;
	color: grey;
}

nav{
	display: flex;
	justify-content: space-evenly;
}


#logo{
	width: 70%;
}

a{
	text-decoration: none;
	color: inherit;
}

#inscription{
	color: #0065FC;
}

#recherche{
	display: flex;
	justify-content: flex-start;
}

#gps{
	display: flex;
}

#marker{
	background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
}

#parametre{
	display: flex;
	justify-content: space-evenly;
	width: 50%;
}

 #les_filtres:hover {
	text-decoration: none;
	color: yellow;
}

#petit_texte{
	display: flex;
}

#location{
	display: flex;
}

#cannebiere{
	display: flex;
	height: 100px;
	width: 15%;
	
}

#conteneur{
	display:  flex;
	justify-content: space-evenly;
	
}
 
 footer{
 		background-color: #F2F2F2;

 }

#info {
	font-size: x-large;
}
