body{
	font-family: Raleway;
}
@font-face{
	font-family: "Raleway";
	src: url("Raleway/static/Raleway-ExtraBold.ttf");
}

h2{
	font-size: medium ;
}

h3{
	font-size: x-large;
}

 economique:hover {
	text-decoration: underline;
	color: yellow;
}

#conteneur{
	display:  flex;
	justify-content: space-evenly;
	

}

nav
{
	display: flex;
}
 footer{
 		background-color: #F2F2F2;

 }