body{
	font-family: Raleway;
}
@font-face{
	font-family: "Raleway";
	src: url("police/Raleway-VariableFont_wght.ttf");
}

#corps{
	margin-right: 10%;
	margin-left: 10%;
}
#complements_haut{
        font-size: medium ;
        color: grey;
        font-weight: bold;
        margin-bottom: 20px;
}
#complements{
	 font-size: medium ;
        color: grey;
        font-weight: bold;
}


/* barre de navigation */
nav{
	display: flex;
	justify-content: space-between;
}

nav div{
    padding-top: 40px;
    font-weight: bold;
}

nav a{
    padding: 40px 30px 0;
}

nav div a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 38px ;
}

#logo{
	width: 70%;
}

a{
	text-decoration: none;
	color: inherit;
}

#inscription{
	color: #0065FC;
}


/* barre de recherche */
::placeholder{
    color: black;
}
#recherche{
	display: flex;
	justify-content: flex-start;
}

#marker{
	background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.7em;
}

#destination{
	border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    font-size: 1.1em;
    font-weight: 600;
}

.search{
    background-color: #0065FC;
    border: none;
    padding-right: 1em ;
    padding-left: 1em ;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
    flex-shrink: 0;
}

/*Filtres*/
#filtres{
    margin-top: 10px;
    width: 70%;
}
#titre_filtres{
    display: flex;
    align-items: center;
    font-weight: bold;
}

#liste_filtres{
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
}

.categorie{
    margin-left: 10px;
    font-weight: bold;
}

.les_filtres{
	display: flex;
	align-items: center;
    height: 46px;
    border: 2px solid #f2f2f2;
    border-left: none;
    padding-right: 20px;
    border-radius: 25px;
}

 .les_filtres:hover {
	cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
}

.icons{
	display: flex;
	align-items: center;
	justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
}


.icons i{
    margin: auto;
    color: #0065FC;
}


#petit_texte{
	display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;

}

#logo_info i{
    color: #0065FC;
    background-color: white;
    border-radius: 50%;
    border-color: #f2f2f2;
    border: 1px solid grey;
    padding: 3px 7px 3px 7px;
    margin-right: 10px;
}
/*Hebergement*/
#top{
    display: flex;
    justify-content: space-between;
}
#location{
    flex: 2;
    width: 160%;
}

#location, #populaires{
    justify-content: space-between;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 40px;
	
}

#texte_hebergement{
    font-weight: bold;
    margin-bottom: -10px;
    font-size: large;
}

#espace_hebergement{
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
    margin: 30px 0 50px;
}

.choix{
	background-color: white;
	display: grid;
    height: 250px;
    grid-template-rows: 55%;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
    margin-right: 10%;
    margin-left: 10%;
}

.description_hebergement{
    margin-left: 15px;
}

.nom{
    font-weight: bolder;
}

.nom_suite{
    margin-bottom: 5px;
    margin-top: 5px;
}

.nom_suite span{
    font-weight: bold;
}

.images_hebergement img{
	width: 100%;
	height: 126px;
	object-fit: cover;
}

.notation{
    word-spacing: -1ch;
    margin-top: 10%;
}

.fa-star{
    font-size: .8rem;
    letter-spacing: 2px;
}

.bleu{
    color: #0065FC;
}

.grise{
    color: #f2f2f2;
}

#afficher_plus a{
	font-weight: bold;
}

/*Populaire*/

#populaires{
    flex: 1;
    margin-left: 30%;
    max-width: 20%;

}

#tete_populaire i{
    margin-left: 50%;
    font-size: x-large;
}

#tete_populaire{
    font-weight: bold;
    justify-content: space-evenly;
    align-items: baseline;
    margin-bottom: 10%;
    font-size: large;
}

.choix_populaire{
    display: flex;
    background-color: white;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 155px;

}

.images_populaire img{
	 width: 160px;
    height: 100%;
    object-fit: cover;
}

.description_populaire{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between ;
    background-color: #fff;
    padding-right: 20%;
}
.nom_suite_populaire{
    margin-bottom: 60px;
    margin-top: 5px;
}

/*Activitées*/
#Activités{
    width: 100%;
    display: flex;
    height: 60vh;
    flex-flow:column wrap;
    align-content: space-between;
    justify-content: flex-end;
    margin-bottom: 4vh;
}
.titre_activités{
    margin-bottom: 2vh;
}

.abc{
    width: 25vw ;
    max-width: 370px;
    background-size: cover;
    border-radius: 1rem;
    position: relative;

    box-shadow: 0px 1px 10px 1px #c9c9c9;
    display: flex;
    justify-content: center;
    overflow: hidden;

}
.vieux_port{
    background-image:url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg) ;
    background-position: -170px 0px;
}

.blk-tall{
    height: 50vh;
}

.pomegues{
    background-image:url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg) ;
    background-position: 0px -100px;
}

.blk-pomegues{
    height: 28vh;
    margin-bottom: 4vh;
}

.frioul{
    background-image:url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-position: 0px -100px;
}

.blk-frioul{
    height: 18vh;
}

.calanques{
    background-image:url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg) ;
    background-position: -170px 0px;
}

.notredame{
    background-image:url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg) ;
    background-position: 0px -100px;
}

.longchamps{
    background-image:url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg) ;
    background-position: 0px -100px;
}

.description_activités{
    position: absolute;
    width: 100%;
    background-color: white;
    bottom: 0px;
    border-radius: 0 0 1rem 1rem;
    padding-left: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
    
}

/*Footer*/

#conteneur{
	display:  flex;
	justify-content:space-evenly;
}
 
 footer{
 		background-color: #F2F2F2;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: -40%;

}

footer li{
    margin-bottom: 15px;
    list-style: none;
}
footer a:hover{
    font-weight: 600;
    color: #0065FC;
}
.info {
    margin-left: 40px;
	font-size: x-large;
    font-weight: bold;

}
/* Mobile version */
@media only screen and (max-width: 600px){

    /* General */

    #corps{
        margin: 0;
    }

    h1 , #texte_hebergement , #tete_populaire , #titre_activités {
        font-size: 1.4em;
    }

    /* Header - Mobile */

    header{
        margin: 0;
        flex-direction: column;
    }

    #logo{
        margin-left: 20px;
    }

    #inscription{
        align-self: flex-end;
        padding: 0;
        margin-right: 20px;
        position: relative;
        bottom: 30px;
    }

    nav{
        order:3;
    }
    
    nav a{
        width: 100%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 3px solid #f2f2f2;
        padding: inherit;
    }

    nav a:hover{
        border-top: none;
        border-bottom-color:#0065FC;
    }

    /* Recherche - Mobile */

    #barre_recherche{
        margin: 30px 20px;
    }

    #destination{
        flex: 1;
    }

    #recherche{
        margin: 35px 0 30px;
    }

    .search{
        position: relative;
        width: 50px;
        border-radius: 15px;
        left: -20px;
    }

    .search span{
        display: none;
    }
    
    /*Filtres*/

    #filtres{
                margin-bottom: 12px;
    }
    
    /* Hotels - Mobile */
    
    #hebergements{
            padding: 0 20px;
            background-color: initial;
    }
    
    #espace_hebergement{
            grid-template: repeat(6, 1fr) / 1fr;
            gap: 15px;
    }

    .choix{
        height: 200px;
    }

    .choix img{
        height: 116px;
    }

    .nom_suite{
        font-size: .9rem;
    }

    /* Populaires - Mobile */
    
    

    #populaires{
        border-radius: 0;
        padding: 40px 20px 30px;
        margin-bottom: 40px;
    }
    
    #tete_populaire i{
            font-size: 1.4rem;
    }

    .choix_populaire{
        height: 145px;
        margin-bottom: 10px;
    }

    .nom{
        font-size: 1rem !important;
    }
    
    .decription_populaire{
            padding: 15px 10px 10px 20px;
    }

    .nom_suite_populaire{
        font-size: .9rem;
    }

    .fa-star{
        font-size: .8rem !important;
        letter-spacing: 1px;
    }

    
    /* Activities - Mobile */

    #Activités{
        margin: 55px 20px 45px;
    }

    #Activités a{
        
    }

    .abc{
        grid-row-end: span 1;
        grid-column-end: span 1;
    }

    /* Footer - Mobile */

    footer{
        flex-direction: column;
        padding: 45px 30px;
    }

    footer #conteneur{
        padding: 0;
    }
}