
body{
	font-family: Raleway;
    font-size: 0.9vw;
}
@font-face{
	font-family: "Raleway";
	src: url("../police/Raleway-VariableFont_wght.ttf");
}

#corps{
	width: 90vw;
    margin: auto;
}
#complements_haut{
        font-size: 1rem ;
        color: grey;
        font-weight: bold;
        margin-bottom: 1.2rem;
}
#complements{
	 font-size: medium ;
        color: grey;
        font-weight: bold;
}


/* barre de navigation */
nav{
	display: flex;
	justify-content: space-between;
}

nav a{
    padding-top: 3rem;
    font-weight: bold;
}

nav a{
    padding: 40px 30px 0;
}

nav  a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 38px ;
}

#logo{
	flex-grow: 1;
}

a{
	text-decoration: none;
	color: inherit;
}

#inscription{
	color: #0065FC;
}


/* barre de recherche */
::placeholder{
    color: black;
}
#recherche{
	display: flex;
	justify-content: flex-start;
}

.search i{
    display: none;
}

#marker{
	background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.7em;
}

#destination{
	border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    font-size: 1.1em;
    font-weight: 600;
}

.search{
    background-color: #0065FC;
    border: none;
    padding-right: 1em ;
    padding-left: 1em ;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
    flex-shrink: 0;
}

/*Filtres*/
#filtres{
    margin-top: 10px;
    width: 70%;
}
#titre_filtres{
    display: flex;
    align-items: center;
    font-weight: bold;
}

#liste_filtres{
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
}

.categorie{
    margin-left: 10px;
    font-weight: bold;
}

.les_filtres{
	display: flex;
	align-items: center;
    height: 46px;
    border: 2px solid #f2f2f2;
    border-left: none;
    padding-right: 20px;
    border-radius: 25px;
}

 .les_filtres:hover {
	cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
}

.icons{
	display: flex;
	align-items: center;
	justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
}


.icons i{
    margin: auto;
    color: #0065FC;
}


#petit_texte{
	display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;

}

#logo_info i{
    color: #0065FC;
    background-color: white;
    border-radius: 50%;
    border-color: #f2f2f2;
    border: 1px solid grey;
    padding: 3px 7px 3px 7px;
    margin-right: 10px;
}
/*Hebergement*/
#top{
    display: flex;
    justify-content: space-between;
}
#location{
    flex: 2;
}

#location, #populaires{
    justify-content: space-between;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 40px;
	
}

#texte_hebergement{
    font-weight: bold;
    margin-bottom: -10px;
    font-size: large;
}

#espace_hebergement{
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
    margin: 30px 0 50px;
}

.choix{
	background-color: white;
	display: grid;
    height:14rem;
    grid-template-rows: 60%;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
    
    /*width: 20vh;*/
}

.description_hebergement{
    margin-left: 15px;
}

.nom{
    font-size: medium;
    font-weight: bolder;
}

.nom_suite{
    font-size: medium;
    margin-bottom: 5px;
    margin-top: 5px;
}

.nom_suite span{
    font-weight: bold;
}

.images_hebergement img{
	width: 100%;
	height: 7.5rem;
	object-fit: cover;
}

.notation{
    word-spacing: -1ch;
    margin-top: 1.5vh;
}

.fa-star{
    font-size: .8rem;
    letter-spacing: 2px;
}

.bleu{
    color: #0065FC;
}

.grise{
    color: #f2f2f2;
}

#afficher_plus a{
	font-weight: bold;
}

/*Populaire*/

#populaires{
    flex: 1;
    margin-left: 2rem;
    max-width: 30%;

}

#tete_populaire i{
    margin-left: 7vw;
    font-size: x-large;
}

#tete_populaire{
    font-weight: bold;
    justify-content: space-evenly;
    align-items: baseline;
    margin-bottom: 10%;
    font-size: large;
}

.choix_populaire{
    display: flex;
    background-color: white;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 140px;

}

.images_populaire img{
	 width: 12vw;
    height: 100%;
    object-fit: cover;
    margin-right: 1rem;
}

.description_populaire{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between ;
    background-color: #fff;
    margin-left: 10px;
}
.nom_pop{
    font-size: medium;
    font-weight: bold;
}
.nom_suite_populaire{
    font-size: medium;
    margin-bottom: 3vh;
    margin-top: 1vh;
}
.nom_suite_populaire span{
    font-weight: bold;
}
/*Activitées*/
#activites{
    width: 100%;
    display: flex;
    height: 48vh;
    flex-flow:column wrap;
    align-content: space-between;
}
.titre_activites{
   margin-top:5rem;
   margin-bottom: 1rem;
   font-weight: bold;
   font-size: 1.5rem;

}

.abc{
    width: 19vw ;
    max-width: 370px;
    background-size: cover;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0px 1px 10px 1px #c9c9c9;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-right: 2vh;
}
.vieux_port{
    background-image:url(../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg) ;
    background-position: -170px 0px;
}

.blk-tall{
    height: 42vh;
}

.pomegues{
    background-image:url(../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg) ;
    background-position: 0px -100px;
}

.blk-pomegues{
    height: 23vh;
    margin-bottom: 4vh;
}

.frioul{
    background-image:url(../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-position: 0px -20px;
}

.blk-frioul{
    height: 15vh;
}

.calanques{
    background-image:url(../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg) ;
    background-position: -250px 0px;
}

.notredame{
    background-image:url(../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg) ;
    background-position: -100px 0px;
}

.longchamps{
    background-image:url(../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg) ;
    background-position: 0px -50px;
}

.description_activites{
    position: absolute;
    width: 100%;
    background-color: white;
    bottom: 0px;
    border-radius: 0 0 1rem 1rem;
    padding-left: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
    
}

/*Footer*/

#conteneur{
	display:  flex;
	justify-content:space-evenly;
}
 
 footer{
 		background-color: #F2F2F2;
        padding-top: 50px;
        padding-bottom: 50px;
}

footer li{
    margin-bottom: 15px;
    list-style: none;
}
footer a:hover{
    font-weight: 600;
    color: #0065FC;
}
.info {
    margin-left: 40px;
	font-size: x-large;
    font-weight: bold;

}

@media screen and (min-width: 768px),(max-width:1023px){
    
}